<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/34fe496db5.js" crossorigin="anonymous"></script>

    <title>Mercado Liebre</title>

</head>
<body>
   <header class="main-header">
       <div class="roof_menu">       
        <div class="logo_search_header">
                <!-- company logo -->
                <img  class= "logo" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">

                <!-- product and brand search engine -->
                <form class="search_bar">
                    <input class="search_box" placeholder=" Buscar productos, marcas"></input>
                    <button class="glass_search"><i class="fa-solid fa-magnifying-glass"></i></button>           
                </form>
            </div>

        <!-- legend form of payment -->
            <p class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <!-- menu options -->
        <nav class="main_navbar">
            <ul class="navbar">
                <li><a href="/home">Ofertas</a></li>
                <li><a href="/home">Tiendas Oficiales</a></li>
                <li><a href="/home">Vender</a></li>
                <li><a href="/home">Ayuda</a></li>
            </ul>
            <ul class="login_bar ">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav> 
        <!-- burger menu -->
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
   </header>
   <main class="main_configuration">
        <img class= "main_banner" src="/images/img-home-banner.jpg" alt="banner">
        <section class="regular_products">
            <h2>Basado en tu última visita</h2>
            <div class="all_regular">
                <article class="product_container">
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    </figure>
                    <div class="foot_product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prec_desc">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>  
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>    

                    </div>
                </article>
                <article class="product_container">
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Notebook">
                    </figure>
                    <div class="foot_product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prec_desc">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>  
                        </div>   
                        <p class="descripcion">MacBook Pro 2019</p> 

                    </div>
                </article>
                <article class="product_container">
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular">
                    </figure>
                    <div class="foot_product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prec_desc">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>  
                        <p class="descripcion">Samsung Galaxy S10</p>    

                    </div>
                </article>
                <article class="product_container">
                    <figure>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
                    </figure>
                    <div class="foot_product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prec_desc">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div> 
                        <p class="descripcion">SmartTv Samsung 43"</p>    

                    </div>
                </article>
            </div>
            
       </section>
       <section class="products_offer">
            <h2>Ofertas</h2>
            <dev class="all_offer">
                <article class="product_container">
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    </figure>
                    <div class="foot_product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prec_desc">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>  
                        <p class="descripcion">Cafetera Moulinex</p>    

                    </div>
                </article>
                <article class="product_container">
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Notebook">
                    </figure>
                    <div class="foot_product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prec_desc">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>  
                        <p class="descripcion">MacBook Pro 2019</p>    

                    </div>
                </article>
                <article class="product_container">
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular">
                    </figure>
                    <div class="foot_product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prec_desc">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>  
                        <p class="descripcion">Samsung Galaxy S10</p>    

                    </div>
                </article>
                <article class="product_container">
                    <figure>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
                    </figure>
                    <div class="foot_product">
                        <i class="fa-solid fa-truck"></i>
                        <div class="prec_desc">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>  
                        <p class="descripcion">SmartTv Samsung 43"</p>    

                    </div>
                </article>
            </dev>
       </section>
   </main>
   <footer class="foot_configuration">
       <!-- purchase conditions -->
       <div class="items_configuration">
            <section class="item_component">
                    <i class="fa-solid fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="item_component">
                    <i class="fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="item_component">
                    <i class="fa-solid fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <!-- legal legend -->
        <section class="item_copy">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
   </footer>
</body>
</html>