<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <header>
       <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
       <p>Lugar para poner la barra de búsqueda</p>
       <p>Comprá en cuotas y sin tarjeta de crédito</p>
       <nav class="menu">
           <ul> 
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
       </nav>
   </header>
   <main>
        <img src="/images/img-home-banner.jpg" alt="banner" style="width:100% ;height: 100%;" >
       <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <figure>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" style="width:100% ;height: 100%;">
                </figure>
                <p>$6.770</p>
                <p>40% OFF</p>  
                <p><strong>Cafetera Moulinex</strong></p>    
            </article>
            <article>
                <figure>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Notebook" style="width:100% ;height: 100%;">
                </figure>
                <p>$230.000</p>
                <p>20% OFF</p>  
                <p><strong>MacBook Pro 2019</strong></p>    
            </article>
            <article>
                <figure>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular" style="width:100% ;height: 100%;">
                </figure>
                <p>$70.500</p>
                <p>10% OFF</p>  
                <p><strong>Samsung Galaxy S10</strong></p>    
            </article>
            <article>
                <figure>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV" style="width:100% ;height: 100%;">
                </figure>
                <p>$23.200</p>
                <p>5% OFF</p>  
                <p><strong>SmartTv Samsung 43"</strong></p>    
            </article>
            
       </section>
       <section>
            <h2>Ofertas</h2>
            <article>
                <figure>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" style="width:100% ;height: 100%;">
                </figure>
                <p>$6.770</p>
                <p>40% OFF</p>  
                <p><strong>Cafetera Moulinex</strong></p>    
            </article>
            <article>
                <figure>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Notebook" style="width:100% ;height: 100%;">
                </figure>
                <p>$230.000</p>
                <p>20% OFF</p>  
                <p><strong>MacBook Pro 2019</strong></p>    
            </article>
            <article>
                <figure>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular" style="width:100% ;height: 100%;">
                </figure>
                <p>$70.500</p>
                <p>10% OFF</p>  
                <p><strong>Samsung Galaxy S10</strong></p>    
            </article>
            <article>
                <figure>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV" style="width:100% ;height: 100%;">
                </figure>
                <p>$23.200</p>
                <p>5% OFF</p>  
                <p><strong>SmartTv Samsung 43"</strong></p>    
            </article>
       </section>
   </main>
   <footer>
       <section>
           <h3>Pagá con tarjeta o en efectivo</h3>
           <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
       </section>
       <section>
           <h3>Envío gratis desde $ 2.500</h3>
           <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
       </section>
       <section>
           <h3>Seguridad, de principio a fin</h3>
           <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
       </section>
       <section>
           <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
       </section>
   </footer>
</body>
</html>