<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/34fe496db5.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header class="main-header">
        <div class="roof_menu">       
         <div class="logo_search_header">
                 <!-- company logo -->
                 <img  class= "logo" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
 
                 <!-- product and brand search engine -->
                 <div class="search_bar">
                     <input class="search_box" placeholder=" Buscar productos, marcas"></input>
                     <button class="glass_search"><i class="fa-solid fa-magnifying-glass"></i></button>           
                 </div>
             </div>
 
         <!-- legend form of payment -->
             <p class="copy-header">
                 <i class="fa-solid fa-hand-holding-dollar"></i>
                 Comprá en cuotas y sin tarjeta de crédito
             </p>
         </div>
         <!-- menu options -->
         <nav class="main_navbar">
             <ul class="navbar">
                 <li><a href="#">Ofertas</a></li>
                 <li><a href="#">Tiendas Oficiales</a></li>
                 <li><a href="#">Vender</a></li>
                 <li><a href="#">Ayuda</a></li>
             </ul>
             <ul class="login_bar ">
                 <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                 <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                 <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
             </ul>
         </nav> 
         <!-- burger menu -->
         <a href="#" class="hamburguer-button">
             <i class="fa-solid fa-bars"></i>
         </a>
    </header>



    <!-- Formulario -->
    <form action="/" method="get" class="create_form_login">
        <input class="control_formulario_usuario" type="text" name="usuario" class="control" placeholder="Ingresar el nombre de usuario"
        required minlength="6" size="10">
        <input class="control_formulario_clave" type="password" name="pass" class="control" placeholder="Ingrese su contraseña"
        required minlength="8" size="10">
        <button type= "submit" class="boton_formulario_enviar">Enviar</button>
    </form>
    <footer class="foot_configuration">
        <!-- purchase conditions -->
        <div class="items_configuration">
             <section class="item_component">
                     <i class="fa-solid fa-credit-card"></i>
                     <h3>Pagá con tarjeta o en efectivo</h3>
                     <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                     puntos de pago. ¡Y siempre es seguro!</p>
             </section>
             <section class="item_component">
                     <i class="fa-solid fa-gift"></i>
                     <h3>Envío gratis desde $ 2.500</h3>
                     <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                     productos. Es un beneficio de Mercado Puntos.</p>
             </section>
             <section class="item_component">
                     <i class="fa-solid fa-user-shield"></i>
                     <h3>Seguridad, de principio a fin</h3>
                     <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                     porque estás siempre protegid@.</p>
             </section>
         </div>
         <!-- legal legend -->
         <section class="item_copy">
             <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
         </section>
    </footer>
</body>
</html>