<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/34fe496db5.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header class="main-header">
        <div class="roof_menu">       
         <div class="logo_search_header">
                 <!-- company logo -->
                 <img  class= "logo" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
 
                 <!-- product and brand search engine -->
                 <div class="search_bar">
                     <input class="search_box" placeholder=" Buscar productos, marcas"></input>
                     <button class="glass_search"><i class="fa-solid fa-magnifying-glass"></i></button>           
                 </div>
             </div>
 
         <!-- legend form of payment -->
             <p class="copy-header">
                 <i class="fa-solid fa-hand-holding-dollar"></i>
                 Comprá en cuotas y sin tarjeta de crédito
             </p>
         </div>
         <!-- menu options -->
         <nav class="main_navbar">
             <ul class="navbar">
                 <li><a href="/home">Ofertas</a></li>
                 <li><a href="/home">Tiendas Oficiales</a></li>
                 <li><a href="/home">Vender</a></li>
                 <li><a href="/home">Ayuda</a></li>
             </ul>
             <ul class="login_bar ">
                 <li><a href="#">Creá tu cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                 <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                 <li><a href="/home">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
             </ul>
         </nav> 
         <!-- burger menu -->
         <a href="#" class="hamburguer-button">
             <i class="fa-solid fa-bars"></i>
         </a>
    </header>



    <!-- Formulario -->
    <form action="/" method="get" class="create_form">
        <div class="control_formulario">
            <label>Nombre y apellido: </label>
            <input type="text" name="nombre_completo" class="control" placeholder="Ingresar el nombre completo"
                    required minlength="8" maxlength="32" size="10">
        </div>
        <div class="control_formulario">
            <label>Nombre de usuario: </label>
            <input type="text" name="usuario" class="control" placeholder="Ingresar el nombre de usuario"
            required minlength="6" maxlength="12" size="10">
        </div>
        <div class="control_formulario">
            <label>Fecha de nacimiento: </label>
            <input type="date" name="fecha_nacimiento" class="control" required>
        </div>
        <div class="control_formulario">
            <label>Domicilio: </label>
            <textarea name="domicilio" class="control" placeholder="Domicilio completo, no olvidar código postal"
            required minlength="10" size="10">
            </textarea>
        </div>
        <div class="control_formulario_perfil">
            <label for="perfil">Perfil del usuario: </label>
            <label>comprar <input type="checkbox" name="perfil" value="comprar" checked></label>
            <label>vender <input type="checkbox" name="perfil" value="vender"></label>
        </div>
        <div class="control_formulario_categorias">
            <label for="perfil">Categorías de interés: </label>
            <label>Electro - <input type="checkbox" name="perfil" value="electro"></label>
            <label>Moda - <input type="checkbox" name="perfil" value="Moda"></label>
            <label>Hogar - <input type="checkbox" name="perfil" value="hogar"></label>
            <label>Juguetería - <input type="checkbox" name="perfil" value="jugueteria"></label>
            <label>Vida sana - <input type="checkbox" name="perfil" value="vida_sana"></label>
        </div>
        <div class="control_formulario">
            <label>Foto de usuario: </label>
            <input type="file" name="foto_usuario" accept= ".jpeg,.png" class="control">
        </div>
        <div class="control_formulario">
            <label>Contraseña: </label>
            <input type="password" name="pass" class="control" placeholder="Contraseña no menor a 8 caracteres alfanuméricos"
                required minlength="6" size="10">
        </div>
        <div class="control_formulario">
            <label>Confirmar contraseña: </label>
            <input type="password" name="pass" class="control" placeholder="Repita su contraseña para verificar"
            required minlength="8" size="10">
        </div>           
        <button type= "submit" class="boton_formulario">Guardar</button>
        <button type="reset" class="boton_formulario">Borrar</button>
    </form>
    <footer class="foot_configuration">
        <!-- purchase conditions -->
        <div class="items_configuration">
             <section class="item_component">
                     <i class="fa-solid fa-credit-card"></i>
                     <h3>Pagá con tarjeta o en efectivo</h3>
                     <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                     puntos de pago. ¡Y siempre es seguro!</p>
             </section>
             <section class="item_component">
                     <i class="fa-solid fa-gift"></i>
                     <h3>Envío gratis desde $ 2.500</h3>
                     <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                     productos. Es un beneficio de Mercado Puntos.</p>
             </section>
             <section class="item_component">
                     <i class="fa-solid fa-user-shield"></i>
                     <h3>Seguridad, de principio a fin</h3>
                     <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                     porque estás siempre protegid@.</p>
             </section>
         </div>
         <!-- legal legend -->
         <section class="item_copy">
             <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
         </section>
    </footer>
</body>
</html>