
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header {
    font-family: 'Roboto', sans-serif;
}
.main-header {
    background-color: #EAC926;
    top: 0;
}

/* company logo */
.logo {
    width: 200px;
}
/* product and brand search engine */
.search_bar {

}
/* legend form of payment */
.copy-header {
    margin: 5px;

}
/* menu options */
.main_navbar {
    display: none;
}
.navbar {
    list-style: none;
}
.login_bar {
    list-style: none;
    margin-bottom: 0;
    padding-bottom: 10px;
    
}
/* burger menu */
.hamburguer-button {
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;

}

/* banner products section */
.main_banner {
    width: 100vw;
    margin-top: 0;
}
/* products */
.all_regular, .all_offer { 
    /*border: dotted 2px black;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 367px;
    
}
.main_configuration {
    width: 100vw;
    margin-bottom: 10px;
    background-color: #ebebeb;
}
.main_configuration h2 {
    font-size: 24px;
}
.product_container {
    border-top: solid 1px #ebebeb;
    background-color: #ffffff;
    margin: 15px;
    max-width: 324px;
    max-height: 421px;
    
}
.product_container figure img {
    /*border: dotted 2px red;*/
    width: 100%;
    align-items: center;   
}
.foot_product {
    /*border: dotted 2px blue;*/
    margin: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
}
.prec_desc {
    /*border: #39b54a dotted 2px;*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.prec_desc .precio {
    /*border: dotted 2px red;*/
    font-size: 18px;
    flex-grow: 0.3;
    align-self: flex-start;
}
.prec_desc .descuento {
    /*border: dotted 2px red;*/
    font-size: 16px;
    color: #666;
    flex-grow: 0.7;
    align-self: flex-end;
}
.descripcion {
    display: none;
    font-size: 16px;
    color: #666;
}
.foot_product i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: -15px;
}
.foot_product p {
    margin: 0;
}


/* Footer */
.items_configuration {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.item_component {
    /*border: dotted 2px red; */
    margin: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item_component i {
    /*border: dotted 2px rgb(68, 0, 255); */
    margin: 0;
    margin-bottom: 10px;
    font-size: 2em;
}
.item_component h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    /*border: dotted 2px rgb(68, 0, 255); */
}
.item_component p {
    margin: 0;
    margin-bottom: 10px;
    width: 83%;
    text-align: center;
    font-size: small;
    /*border: dotted 2px rgb(68, 0, 255); */
}
/* legal legend */
.item_copy {
    margin: 10px;
}

/* Media query */
@media (min-width: 361px) {
    .descripcion {
        display: block;
        padding: 15px 0;
    }
    .product_container {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main_navbar {
        display: block;
    }
    .hamburguer-button {
        display: none;
    }
    
}

@media (min-width: 769px) {
    .all_regular, .all_offer {
        max-width: 769px;
    }

}
@media (min-width: 1416px) {
    .all_regular, .all_offer {
        max-width: 1416px;
    }

}

